Checks: '-*. readability-identifier-naming'
CheckOptions:
- key:    readability-identifier-naming.AbstractClassCase
  value:  CamelCase
- key:    readability-identifier-naming.AbstractClassPrefix
  value:  I
- key:    readability-identifier-naming.ClassCase
  value:  CamelCase
- key:    readability-identifier-naming.ClassMemberCase
  value:  camelBack
- key:    readability-identifier-naming.ClassMethodCase
  value:  CamelCase
- key:    readability-identifier-naming.EnumCase
  value:  CamelCase
- key:    readability-identifier-naming.EnumConstantCase
  value:  UPPER_CASE
- key:    readability-identifier-naming.FunctionCase
  value:  CamelCase
- key:    readability-identifier-naming.InlineNamespaceCase
  value:  lower_case
- key:    readability-identifier-naming.MemberCase
  value:  camelBack
- key:    readability-identifier-naming.NamespaceCase
  value:  lower_case
- key:    readability-identifier-naming.ParameterCase
  value:  camelBack
- key:    readability-identifier-naming.ParameterPackCase
  value:  camelBack
- key:    readability-identifier-naming.PrivateMemberCase
  value:  camelBack
- key:    readability-identifier-naming.PrivateMemberSuffix
  value:  _
- key:    readability-identifier-naming.PrivateMethodCase
  value:  CamelCase
- key:    readability-identifier-naming.PrivateMethodSuffix
  value:  _
- key:    readability-identifier-naming.ProtectedMemberCase
  value:  camelBack
- key:    readability-identifier-naming.ProtectedMemberSuffix
  value:  _
- key:    readability-identifier-naming.ProtectedMethodCase
  value:  CamelCase
- key:    readability-identifier-naming.ProtectedMethodSuffix
  value:  _
- key:    readability-identifier-naming.TemplateParameterCase
  value:  CamelCase
- key:    readability-identifier-naming.TypeAliasCase
  value:  CamelCase
- key:    readability-identifier-naming.TypedefCase
  value:  CamelCase
- key:    readability-identifier-naming.UnionCase
  value:  CamelCase
- key:    readability-identifier-naming.VariableCase
  value:  camelBack